# OSX
#
.DS_Store

# IDE
.idea

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Git-secret
.gitsecret/keys/random_seed
!*.secret
blockchain/packages/ethena/.env.test
blockchain/solidity/.env.test
configs/frontend-environments/shared/.env
configs/frontend-environments/shared/.env.production
configs/frontend-environments/website/.env
configs/frontend-environments/retail/.env
configs/frontend-environments/website/.env.production
configs/frontend-environments/retail/.env.production
configs/turbo-environments/.env
configs/turbo-environments/.env.merge

# UI tests repo
test-results/

# Turborepo logs, outputs, and other functionality.
.turbo

# ESLint cache
.cache/eslint/

# Terraform
tfState.json

# Env
.env.local
