# OSX
#
.DS_Store

# IDE
.idea

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Git-secret
.gitsecret/keys/random_seed
!*.secret
blockchain/packages/ethena/.env.test
blockchain/solidity/.env.test
configs/frontend-environments/shared/.env
configs/frontend-environments/shared/.env.production
configs/frontend-environments/website/.env
configs/frontend-environments/retail/.env
configs/frontend-environments/website/.env.production
configs/frontend-environments/retail/.env.production
configs/turbo-environments/.env
configs/turbo-environments/.env.merge

# Ui tests repo
ui-tests/extensions/
ui-tests/.husky/
test-results/
ui-tests/integration-tests/tests-results/
ui-tests/integration-tests/playwright-report/
ui-tests/api-tests/tests-results/
ui-tests/api-tests/playwright-report/

# Turborepo logs, outputs, and other functionality.
.turbo

# ESLint cache
.cache/eslint/

# Terraform
tfState.json

# Tests
ui-tests/transactionHash.json
tests-results/allure-results/
ui-tests/transactionDeposit.json

ui-tests/transactionDeposit.small.json

ui-tests/transactionDeposit.swap.json

ui-tests/transactionHashValue.json

ui-tests/transactionHashValueTron.json

ui-tests/transactionWithdraw.small.json

ui-tests/transactionWithdraw.swap.json

ui-tests/withdrawTransactionHashValue.json

ui-tests/transactionWithdrawDev.swap.json

ui-tests/transactionWithdrawDev.small.json

ui-tests/transactionWithdrawDev.native.json

ui-tests/transactionDeposit.native.json

ui-tests/transactionDeposit.tron.small.json

ui-tests/transactionDepositAlpha.tron.small.json

ui-tests/transactionDepositAlpha.small.json

ui-tests/transactionDepositAlpha.tron.native.json

ui-tests/transactionDepositDev.small.json

ui-tests/transactionDepositAlpha.native.json

ui-tests/transactionDepositDev.native.json

ui-tests/transactionWithdraw.native.json

ui-tests/transactionDepositDev.swap.json

ui-tests/transactionDepositTronDev.native.json

ui-tests/transactionDepositTronDev.small.json

ui-tests/transactionDepositTronDev.swap.json

ui-tests/transactionWithdrawTronDev.native.json

# Env
.env.local
