# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Env
.env
.env.test
.env.production
.env.fireblocks.testnet

# Fireblocks
/configs/fireblocks/fireblocks_secret.key

# Hardhat files
/cache
/cache-tron
/cache_forge
/artifacts
/build

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Ignore artifacts:
docs/
github-docs/
